---
import { NavBar } from "../components";
import MainLayout from "../layout/MainLayout.astro";

const myName = 'Cristian Andres Acosta Techera';
const pageTitle = 'Mis proyectos';
---
<MainLayout pageTitle={pageTitle}>
	<h1>{myName} Proyectos</h1>
</MainLayout>
