---
const currentPath = Astro.url.pathname;

---
<nav class="bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-600">
    <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
  <img src="/logo-3.svg" alt="Logo" class="h-14 w-14" />
    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Cristian Acosta</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a href="#contacto" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center">Contacto</a>
            <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
        </button>
    </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
    <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-700 rounded-lg bg-gray-900 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-gray-900">
            <li>
                <a href="/#inicio" class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 
                md:p-0 md:dark:text-blue-500" aria-current={currentPath === '/' ? 'page' : undefined}>Inicio</a>
            </li>
            <li>
        <a href="/#sobre-mi" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 md:hover:bg-transparent
         md:hover:text-blue-500 md:p-0">Sobre Mí</a>
            </li>
            <li>
        <a href="/#stack" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 md:hover:bg-transparent
         md:hover:text-blue-500 md:p-0">Stack</a>
            </li>
            <li>
        <a href="/#proyectos" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 md:hover:bg-transparent
         md:hover:text-blue-500 md:p-0">Proyectos</a>
            </li>
            <li>
        <a href="/#trayectoria" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 md:hover:bg-transparent
         md:hover:text-blue-500 md:p-0">Trayectoria</a>
            </li>
            <li>
        <a href="/#contacto" class="block py-2 px-3 text-white rounded-sm hover:bg-gray-700 md:hover:bg-transparent
         md:hover:text-blue-500 md:p-0">Contacto</a>
            </li>
        </ul>
    </div>
    </div>
</nav>


<script>

  function toggleNavbar() {
    const navbar = document.getElementById('navbar-sticky');
    if (navbar) {
      navbar.classList.toggle('hidden');
    }
  }

  function initializeNavbarToggle() {
    const toggleButton = document.querySelector('[data-collapse-toggle="navbar-sticky"]');
    if (toggleButton) {
      toggleButton.removeEventListener('click', toggleNavbar);
      toggleButton.addEventListener('click', toggleNavbar);
    }
  }

  initializeNavbarToggle();

  document.addEventListener('astro:page-load', initializeNavbarToggle);
</script>

<!-- 
block:

Hace que el elemento <a> sea un bloque, ocupando todo el ancho disponible.
py-2:

Aplica un padding vertical de 0.5rem (8px).
px-3:

Aplica un padding horizontal de 0.75rem (12px).
rounded-sm:

Aplica un borde redondeado pequeño.
md:p-0:

Elimina el padding en pantallas medianas (md) o más grandes.
md:hover:bg-transparent:

En pantallas medianas o más grandes, elimina el fondo al pasar el cursor sobre el enlace.
md:hover:text-blue-700:

En pantallas medianas o más grandes, cambia el color del texto a azul (blue-700) al pasar el cursor.
md:dark:hover:text-blue-500:

En pantallas medianas o más grandes, cambia el color del texto a azul claro (blue-500) en modo oscuro al pasar el cursor.
dark:hover:bg-gray-700:

En modo oscuro, cambia el fondo a gris (gray-700) al pasar el cursor.
dark:hover:text-white:

En modo oscuro, cambia el color del texto a blanco al pasar el cursor.
md:dark:hover:bg-transparent:

En pantallas medianas o más grandes, elimina el fondo en modo oscuro al pasar el cursor.
dark:border-gray-700:

Aplica un borde gris (gray-700) en modo oscuro.
 -->