<div class="text-center h-[85vh] flex items-center justify-center">
    <div class="inline-block marco-frame">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
            Transformo ideas en soluciones de software
        </h1>
        <p class="mb-2 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            Hola, soy <span class="font-bold">Cristian Acosta.</span> 
        </p>
        <p class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            Soy Ingeniero Informático y Desarrollador Full Stack. Bienvenido a mi portafolio personal.
        </p>
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
            Ver proyectos
            <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>
</div>


<style>
    .marco-frame {
        position: relative;
        padding: 20px;
        border-radius: 10px;
    }

    .marco-frame::before,
    .marco-frame::after {
        content: '';
        position: absolute;
        width: 70px;
        height: 70px;
        border: 4px solid rgba(255, 255, 255, 0.5);
        }

        .marco-frame::before {
        top: -20px;
        left: -20px;
        border-right: none;
        border-bottom: none;
        }

        .marco-frame::after {
        bottom: -20px; 
        right: -20px;
        border-left: none;
        border-top: none;
    }
</style>